/* -----------------------------------------------------------
	common
----------------------------------------------------------- */
body {
  color: #1a202c;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
hr,
br {
  margin: 0;
  padding: 0;
}

a,
button,
.btn {
  transition: all 0.4s ease;
}

a {
  text-decoration: none;
}

.over {
  transition: all 0.4s ease;
}
.over:hover {
  opacity: 0.7;
}

.container {
  min-width: 1170px;
  max-width: 1170px;
  margin: 0 auto;
}

.list-style-none {
  list-style: none !important;
}

.text-primary {
  color: #2c5b90 !important;
}

@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DMSans-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DMSans-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DMSans-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Outfit";
  src: url("../fonts/Outfit-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Outfit";
  src: url("../fonts/Outfit-Light.ttf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Outfit";
  src: url("../fonts/Outfit-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Outfit";
  src: url("../fonts/Outfit-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Outfit";
  src: url("../fonts/Outfit-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.btn {
  padding: 16px 32px;
  background: #4f77ff;
  border-radius: 5px;
  border: none;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  /* identical to box height, or 160% */
  text-align: center;
  letter-spacing: -0.3px;
  text-transform: uppercase;
  /* Text/Text White */
  color: #ffffff;
  cursor: pointer;
}

.background-cover {
  background-image: url("../images/home-bg-cover.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.intro-section {
  padding: 198px 0 263px 0;
}
.intro-section .intro-content {
  max-width: 570px;
}
.intro-section .intro-content .sub-heading {
  margin-bottom: 30px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  letter-spacing: -0.3px;
  /* Action/Blue */
  color: #4f77ff;
}
.intro-section .intro-content .heading {
  margin-bottom: 50px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  line-height: 78px;
  /* or 108% */
  letter-spacing: -2px;
  /* Text/Text White */
  color: #ffffff;
}
.intro-section .intro-content .description {
  margin-bottom: 70px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  /* or 145% */
  letter-spacing: -1px;
  /* Text/Text White */
  color: #ffffff;
}
.intro-section .intro-content .btn-container {
  display: flex;
  align-items: center;
}
.intro-section .intro-content .btn-container .btn-free {
  margin-right: 8px;
}
.intro-section .intro-content .btn-container .btn-learn {
  border: 1px solid #ffffff;
  background: transparent;
}

.connect-team-section {
  padding: 120px 0;
}
.connect-team-section .heading {
  margin-bottom: 92px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 72px;
  /* identical to box height, or 112% */
  text-align: center;
  letter-spacing: -2px;
  /* Text/Heading */
  color: #2d3958;
}
.connect-team-section .connect-team-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.connect-team-section .connect-team-content .cards-container {
  width: calc((100% - 110px) * 0.46);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.connect-team-section .connect-team-content .cards-container .card {
  margin-bottom: 30px;
  padding: 30px;
  box-shadow: 0px 20px 50px rgba(79, 119, 255, 0.2);
  border-radius: 20px;
  display: flex;
  align-items: flex-start;
}
.connect-team-section .connect-team-content .cards-container .card:last-child {
  margin-bottom: 0;
}
.connect-team-section .connect-team-content .cards-container .card .card-icon {
  min-width: 50px;
  margin-right: 20px;
}
.connect-team-section .connect-team-content .cards-container .card .card-content .card-title {
  margin-bottom: 14px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  /* or 145% */
  letter-spacing: -1px;
  /* Primary color/black */
  color: #120f1f;
}
.connect-team-section .connect-team-content .cards-container .card .card-content .card-description {
  max-width: 310px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  /* Text/Text */
  color: #7b88a8;
}
.connect-team-section .connect-team-content .cards-container .card-workflows {
  position: relative;
  left: -50px;
}
.connect-team-section .connect-team-content .content-txt {
  max-width: 50%;
}
.connect-team-section .connect-team-content .content-txt .content-heading {
  margin-bottom: 30px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 46px;
  /* identical to box height, or 128% */
  letter-spacing: -1px;
  /* Text/Heading */
  color: #2d3958;
}
.connect-team-section .connect-team-content .content-txt .content-body {
  margin-bottom: 70px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  letter-spacing: -0.3px;
  /* Black/200 */
  color: #788190;
}

.teamwork-section {
  padding: 120px 0 102px 0;
  background: #f8fafc;
}
.teamwork-section .teamwork-content {
  background-image: url("../images/teamwork-cover.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 570px 545px;
}
.teamwork-section .teamwork-content .content-txt {
  max-width: calc((100% - 30px) / 2);
}
.teamwork-section .teamwork-content .content-txt .heading {
  margin-bottom: 30px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 46px;
  /* or 128% */
  letter-spacing: -1px;
  /* Text/Heading */
  color: #2d3958;
}
.teamwork-section .teamwork-content .content-txt .description {
  margin-bottom: 50px;
  max-width: 470px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  letter-spacing: -0.3px;
  /* Black/200 */
  color: #788190;
}
.teamwork-section .teamwork-content .content-txt .feature {
  margin-bottom: 30px;
  display: flex;
  align-items: flex-start;
}
.teamwork-section .teamwork-content .content-txt .feature:last-child {
  margin-bottom: 0;
}
.teamwork-section .teamwork-content .content-txt .feature svg {
  margin-right: 12px;
}
.teamwork-section .teamwork-content .content-txt .feature .feature-content .heading {
  margin-bottom: 10px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  /* identical to box height, or 156% */
  letter-spacing: 0.4px;
  /* Text/Heading */
  color: #2d3958;
}
.teamwork-section .teamwork-content .content-txt .feature .feature-content .feature-description {
  max-width: 424px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  /* Text/Text */
  color: #7b88a8;
}

.platform-section {
  padding: 120px 0 146px 0;
}
.platform-section .platform-content .heading {
  margin-bottom: 30px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  /* identical to box height, or 117% */
  text-align: center;
  letter-spacing: -2px;
  /* Text/Heading */
  color: #2d3958;
}
.platform-section .platform-content .sub-heading {
  margin-bottom: 100px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  text-align: center;
  letter-spacing: -0.3px;
  /* Text/Text */
  color: #7b88a8;
}
.platform-section .platform-content .platform-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.platform-section .platform-content .platform-body .cards-container {
  max-width: calc((100% - 130px) * 0.55);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.platform-section .platform-content .platform-body .cards-container .card-col {
  width: calc((100% - 30px) / 2);
  display: flex;
  flex-direction: column;
}
.platform-section .platform-content .platform-body .cards-container .card-col .card {
  margin-bottom: 30px;
  padding: 45px 35px 35px 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(97, 119, 152, 0.2);
  border-radius: 20px;
}
.platform-section .platform-content .platform-body .cards-container .card-col .card:last-child {
  margin-bottom: 0;
}
.platform-section .platform-content .platform-body .cards-container .card-col .card:hover {
  box-shadow: 0px 20px 50px rgba(79, 119, 255, 0.2);
}
.platform-section .platform-content .platform-body .cards-container .card-col .card:hover:first-child {
  margin-top: -30px;
  margin-bottom: 60px;
}
.platform-section .platform-content .platform-body .cards-container .card-col .card svg {
  margin-bottom: 26px;
}
.platform-section .platform-content .platform-body .cards-container .card-col .card .card-heading {
  margin-bottom: 20px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  /* or 145% */
  text-align: center;
  letter-spacing: -1px;
  /* Primary color/black */
  color: #120f1f;
}
.platform-section .platform-content .platform-body .cards-container .card-col .card .card-description {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  text-align: center;
  /* Text/Text */
  color: #7b88a8;
}
.platform-section .platform-content .platform-body .cards-container .col-right {
  margin-top: 90px;
}
.platform-section .platform-content .platform-body .article-container {
  max-width: calc((100% - 130px) * 0.45);
}
.platform-section .platform-content .platform-body .article-container .article-heading {
  margin-bottom: 30px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 46px;
  /* or 128% */
  letter-spacing: -1px;
  /* Text/Heading */
  color: #2d3958;
}
.platform-section .platform-content .platform-body .article-container .article-main {
  margin-bottom: 70px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  letter-spacing: -0.3px;
  /* Black/200 */
  color: #788190;
}

.pick-a-plan-section {
  padding-top: 120px;
  padding-bottom: 428px;
  background-color: #f8fafc;
  position: relative;
}
.pick-a-plan-section .section-content {
  text-align: center;
}
.pick-a-plan-section .section-content .heading {
  margin-bottom: 30px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  /* identical to box height, or 117% */
  text-align: center;
  letter-spacing: -2px;
  /* Text/Heading */
  color: #2d3958;
}
.pick-a-plan-section .section-content .sub-heading {
  margin-bottom: 100px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  /* or 145% */
  text-align: center;
  letter-spacing: -1px;
  /* Text/Text */
  color: #7b88a8;
}
.pick-a-plan-section .section-content .toggle-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pick-a-plan-section .section-content .toggle-container .toggle-option {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  /* identical to box height, or 156% */
  text-align: right;
  letter-spacing: -0.3px;
  /* Text/Text */
  color: #7b88a8;
}
.pick-a-plan-section .section-content .toggle-container .switch {
  margin: 0 16px;
  position: relative;
  display: inline-block;
  width: 72px;
  height: 33px;
}
.pick-a-plan-section .section-content .toggle-container .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.pick-a-plan-section .section-content .toggle-container .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e7e5ea;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.pick-a-plan-section .section-content .toggle-container .switch .slider:before {
  position: absolute;
  content: "";
  height: 21px;
  width: 21px;
  left: 6px;
  bottom: 6px;
  background-color: #34c635;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.pick-a-plan-section .section-content .toggle-container .switch .round {
  border-radius: 16.5px;
}
.pick-a-plan-section .section-content .toggle-container .switch .round:before {
  border-radius: 50%;
}
.pick-a-plan-section .section-content .toggle-container .switch input:checked + .slider:before {
  transform: translateX(38px);
}
.pick-a-plan-section .section-content .toggle-container .badge-discount {
  margin-left: 20px;
  padding: 4px 12px;
  background: #34c635;
  border-radius: 5px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: -0.3px;
  color: #ffffff;
}
.pick-a-plan-section .section-content .cards-container {
  width: 1170px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  left: 50%/2;
  bottom: -255px;
}
.pick-a-plan-section .section-content .cards-container .card-plan {
  width: calc((100% - 30px) / 2);
  box-shadow: 0px 60px 40px rgba(18, 2, 47, 0.1);
  text-align: center;
}
.pick-a-plan-section .section-content .cards-container .card-plan .main-content {
  border-radius: 10px 10px 0 0;
  background: #ffffff;
  padding: 34px 100px 58px 100px;
}
.pick-a-plan-section .section-content .cards-container .card-plan .main-content .title {
  margin-bottom: 20px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  /* identical to box height, or 156% */
  text-align: center;
  letter-spacing: 0.4px;
  /* Action/Blue */
  color: #4f77ff;
}
.pick-a-plan-section .section-content .cards-container .card-plan .main-content .price {
  margin-bottom: 10px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 46px;
  /* or 128% */
  text-align: center;
  letter-spacing: -1px;
  /* Text/Heading */
  color: #2d3958;
}
.pick-a-plan-section .section-content .cards-container .card-plan .main-content .plan-description {
  margin: 0 auto 40px auto;
  max-width: 280px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  text-align: center;
  color: #696871;
}
.pick-a-plan-section .section-content .cards-container .card-plan .main-content .plan-features .feature {
  margin-bottom: 14px;
  display: flex;
  align-items: center;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  /* identical to box height, or 145% */
  letter-spacing: -1px;
  /* Text/Heading */
  color: #2d3958;
}
.pick-a-plan-section .section-content .cards-container .card-plan .main-content .plan-features .feature:last-child {
  margin-bottom: 0;
}
.pick-a-plan-section .section-content .cards-container .card-plan .main-content .plan-features .feature svg {
  margin-right: 12px;
}
.pick-a-plan-section .section-content .cards-container .card-plan .card-footer {
  border-radius: 0 0 10px 10px;
  padding: 18px 0;
  background: #4f77ff;
}
.pick-a-plan-section .section-content .cards-container .card-plan .card-footer .free-trial {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  /* identical to box height, or 160% */
  text-align: center;
  letter-spacing: -0.3px;
  text-transform: uppercase;
  /* Text/Text White */
  color: #ffffff;
}

.QnA-section {
  padding: 378px 0 120px 0;
  background-image: url("../images/QnA-cover.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.QnA-section .QnA-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
  padding-bottom: 100px;
  border-bottom: 1px solid rgba(123, 136, 168, 0.3);
}
.QnA-section .QnA-wrapper .QnA-col {
  width: calc((100% - 30px) / 2);
}
.QnA-section .QnA-wrapper .QnA-col .QnA {
  margin-bottom: 50px;
}
.QnA-section .QnA-wrapper .QnA-col .QnA:last-child {
  margin-bottom: 0;
}
.QnA-section .QnA-wrapper .QnA-col .QnA .question {
  margin-bottom: 10px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  /* identical to box height, or 156% */
  letter-spacing: 0.4px;
  /* Text/Text White */
  color: #ffffff;
}
.QnA-section .QnA-wrapper .QnA-col .QnA .answer {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  /* Text/Text Gray */
  color: #e7e5ea;
}
.QnA-section .initiation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.QnA-section .initiation-container .initiation {
  margin-bottom: 30px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  /* identical to box height, or 117% */
  text-align: center;
  letter-spacing: -2px;
  /* Text/Text White */
  color: #ffffff;
}
.QnA-section .initiation-container .sub-initiation {
  margin-bottom: 70px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  /* or 145% */
  text-align: center;
  letter-spacing: -1px;
  /* Text/Text White */
  color: #ffffff;
}

.brands-section {
  padding: 120px 0;
}
.brands-section .brands-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.brands-section .brands-content .brands-title {
  margin-bottom: 80px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 46px;
  /* or 128% */
  text-align: center;
  letter-spacing: -1px;
  /* Text color/black */
  color: #000000;
}
.brands-section .brands-content .brands-container {
  display: flex;
  align-items: center;
}
.brands-section .brands-content .brands-container .brand {
  margin-right: 105px;
}
.brands-section .brands-content .brands-container .brand:last-child {
  margin-right: 0;
}
.brands-section .brands-content .brands-container .google {
  width: 129.55px;
  height: 45.52px;
}
.brands-section .brands-content .brands-container .netflix {
  width: 126.05px;
  height: 33.85px;
}
.brands-section .brands-content .brands-container .slack {
  width: 155.22px;
  height: 39.68px;
}
.brands-section .brands-content .brands-container .intercom {
  width: 189.07px;
  height: 47.85px;
}

.testimony-section {
  padding: 120px 0;
  background-color: #f8fafc;
}
.testimony-section .section-content .heading {
  margin-bottom: 30px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  /* identical to box height, or 117% */
  text-align: center;
  letter-spacing: -2px;
  /* Text/Heading */
  color: #2d3958;
}
.testimony-section .section-content .sub-heading {
  margin-bottom: 80px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  /* or 145% */
  text-align: center;
  letter-spacing: -1px;
  /* Text/Text */
  color: #7b88a8;
}
.testimony-section .section-content .testimonies-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.testimony-section .section-content .testimonies-container .testimony-card {
  width: calc((100% - 60px) / 3);
  padding: 35px 35px 45px 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  /* Blue Shadow */
  box-shadow: 0px 20px 50px rgba(79, 119, 255, 0.2);
  border-radius: 20px;
}
.testimony-section .section-content .testimonies-container .testimony-card .client-img {
  margin-bottom: 10px;
  width: 70px;
  height: 70px;
}
.testimony-section .section-content .testimonies-container .testimony-card .client-name {
  margin-bottom: 5px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  /* or 145% */
  text-align: center;
  letter-spacing: -1px;
  /* Text/Heading */
  color: #2d3958;
}
.testimony-section .section-content .testimonies-container .testimony-card .client-job {
  margin-bottom: 20px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  text-align: center;
  /* Text/Text */
  color: rgba(123, 136, 168, 0.8);
}
.testimony-section .section-content .testimonies-container .testimony-card .rating-container {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}
.testimony-section .section-content .testimonies-container .testimony-card .rating-container svg {
  margin-right: 6px;
}
.testimony-section .section-content .testimonies-container .testimony-card .rating-container svg:last-child {
  margin-right: 0;
}
.testimony-section .section-content .testimonies-container .testimony-card .client-testimony {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  text-align: center;
  letter-spacing: -0.3px;
  /* Text/Text */
  color: #7b88a8;
}

/*# sourceMappingURL=home.css.map */
