@charset "utf-8";
@import "common";
@import "fonts";
@import "mixins";
@import "variables";

// HOME PAGE
// BANNER SECTION

.btn {
  padding: 16px 32px;
  background: #4f77ff;
  border-radius: 5px;
  border: none;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  /* identical to box height, or 160% */

  text-align: center;
  letter-spacing: -0.3px;
  text-transform: uppercase;

  /* Text/Text White */

  color: #ffffff;
  cursor: pointer;
}

.background-cover {
  background-image: url("../images/home-bg-cover.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.intro-section {
  padding: 198px 0 263px 0;
  background-image: url("../images/home-cover.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 800px 600px;
  .intro-content {
    max-width: 570px;
    .sub-heading {
      margin-bottom: 30px;
      font-family: "DM Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      /* or 156% */

      letter-spacing: -0.3px;

      /* Action/Blue */

      color: #4f77ff;
    }
    .heading {
      margin-bottom: 50px;
      font-family: "Outfit";
      font-style: normal;
      font-weight: 500;
      font-size: 72px;
      line-height: 78px;
      /* or 108% */

      letter-spacing: -2px;

      /* Text/Text White */

      color: #ffffff;
    }
    .description {
      margin-bottom: 70px;
      font-family: "Outfit";
      font-style: normal;
      font-weight: 400;
      font-size: 22px;
      line-height: 32px;
      /* or 145% */

      letter-spacing: -1px;

      /* Text/Text White */

      color: #ffffff;
    }
    .btn-container {
      display: flex;
      align-items: center;
      .btn-free {
        margin-right: 8px;
      }
      .btn-learn {
        border: 1px solid #ffffff;
        background: transparent;
      }
    }
  }
}

.connect-team-section {
  padding: 120px 0;
  .heading {
    margin-bottom: 92px;
    font-family: "Outfit";
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 72px;
    /* identical to box height, or 112% */

    text-align: center;
    letter-spacing: -2px;

    /* Text/Heading */

    color: #2d3958;
  }
  .connect-team-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .cards-container {
      // width: 490px;
      width: calc((100% - 110px) * 46%);
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      .card {
        margin-bottom: 30px;
        padding: 30px;
        box-shadow: 0px 20px 50px rgba(79, 119, 255, 0.2);
        border-radius: 20px;
        display: flex;
        align-items: flex-start;
        &:last-child {
          margin-bottom: 0;
        }
        .card-icon {
          min-width: 50px;
          margin-right: 20px;
        }
        .card-content {
          .card-title {
            margin-bottom: 14px;
            font-family: "Outfit";
            font-style: normal;
            font-weight: 400;
            font-size: 22px;
            line-height: 32px;
            /* or 145% */

            letter-spacing: -1px;

            /* Primary color/black */

            color: #120f1f;
          }
          .card-description {
            max-width: 310px;
            font-family: "DM Sans";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            /* or 162% */

            /* Text/Text */

            color: #7b88a8;
          }
        }
      }
      .card-workflows {
        position: relative;
        left: -50px;
      }
    }
    .content-txt {
      max-width: 50%;
      .content-heading {
        margin-bottom: 30px;
        font-family: "Outfit";
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 46px;
        /* identical to box height, or 128% */

        letter-spacing: -1px;

        /* Text/Heading */

        color: #2d3958;
      }
      .content-body {
        margin-bottom: 70px;
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        /* or 156% */

        letter-spacing: -0.3px;

        /* Black/200 */

        color: #788190;
      }
    }
  }
}

.teamwork-section {
  padding: 120px 0 102px 0;
  background: #f8fafc;

  .teamwork-content {
    background-image: url("../images/teamwork-cover.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 570px 545px;
    .content-txt {
      max-width: calc((100% - 30px) / 2);
      .heading {
        margin-bottom: 30px;
        font-family: "Outfit";
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 46px;
        /* or 128% */
        letter-spacing: -1px;
        /* Text/Heading */
        color: #2d3958;
      }
      .description {
        margin-bottom: 50px;
        max-width: 470px;
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        /* or 156% */

        letter-spacing: -0.3px;

        /* Black/200 */

        color: #788190;
      }
      .feature {
        margin-bottom: 30px;
        display: flex;
        align-items: flex-start;
        &:last-child {
          margin-bottom: 0;
        }
        svg {
          margin-right: 12px;
        }
        .feature-content {
          .heading {
            margin-bottom: 10px;
            font-family: "Outfit";
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 28px;
            /* identical to box height, or 156% */
            letter-spacing: 0.4px;
            /* Text/Heading */
            color: #2d3958;
          }
          .feature-description {
            max-width: 424px;
            font-family: "DM Sans";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            /* or 162% */

            /* Text/Text */

            color: #7b88a8;
          }
        }
      }
    }
  }
}

.platform-section {
  padding: 120px 0 146px 0;
  .platform-content {
    .heading {
      margin-bottom: 30px;
      font-family: "Outfit";
      font-style: normal;
      font-weight: 500;
      font-size: 48px;
      line-height: 56px;
      /* identical to box height, or 117% */

      text-align: center;
      letter-spacing: -2px;

      /* Text/Heading */

      color: #2d3958;
    }
    .sub-heading {
      margin-bottom: 100px;
      font-family: "DM Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      /* or 156% */

      text-align: center;
      letter-spacing: -0.3px;

      /* Text/Text */

      color: #7b88a8;
    }
    .platform-body {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .cards-container {
        max-width: calc((100% - 130px) * 55%);
        // max-width: 570px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        .card-col {
          width: calc((100% - 30px) / 2);
          display: flex;
          flex-direction: column;
          .card {
            margin-bottom: 30px;
            &:last-child {
              margin-bottom: 0;
            }
            padding: 45px 35px 35px 35px;
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 1px solid rgba(97, 119, 152, 0.2);
            border-radius: 20px;
            &:hover {
              box-shadow: 0px 20px 50px rgba(79, 119, 255, 0.2);
              &:first-child {
                margin-top: -30px;
                margin-bottom: 60px;
              }
            }
            svg {
              margin-bottom: 26px;
            }
            .card-heading {
              margin-bottom: 20px;
              font-family: "Outfit";
              font-style: normal;
              font-weight: 400;
              font-size: 22px;
              line-height: 32px;
              /* or 145% */

              text-align: center;
              letter-spacing: -1px;

              /* Primary color/black */

              color: #120f1f;
            }
            .card-description {
              font-family: "DM Sans";
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 26px;
              /* or 162% */

              text-align: center;

              /* Text/Text */

              color: #7b88a8;
            }
          }
        }
        .col-right {
          margin-top: 90px;
        }
      }
      .article-container {
        max-width: calc((100% - 130px) * 45%);
        // max-width: 470px;
        .article-heading {
          margin-bottom: 30px;
          font-family: "Outfit";
          font-style: normal;
          font-weight: 500;
          font-size: 36px;
          line-height: 46px;
          /* or 128% */

          letter-spacing: -1px;

          /* Text/Heading */

          color: #2d3958;
        }
        .article-main {
          margin-bottom: 70px;
          font-family: "DM Sans";
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 28px;
          /* or 156% */

          letter-spacing: -0.3px;

          /* Black/200 */

          color: #788190;
        }
      }
    }
  }
}
